.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #bccff5, #6697fa);
}

.heading {
  font-size: 42px;
  margin-bottom: 20px;
  text-align: center;
}

.tagline {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  background-color: #073ba3;
  color: white;
  cursor: pointer;
} 

.button:hover {
  background-color: #042668;
}

.button:active {
  transform: scale(0.98);
}

